*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    /* height: 100vh; */
    background-color: #2c3e50
}
.center{
    margin: 10vh auto;
    text-align: center;
    height: 250px;
    width: 400px;
    background: #c0392b;
    border-radius: 3px;
    position: relative;
    box-shadow: 2px 2px 10px #2c100d;
    overflow: hidden;
    animation: fadein 0.5s cubic-bezier(.44,.4,.36,1.24) forwards 3s;

}
.login-form{
    position: absolute;
    top:220px;
    animation: filling 1.5s ease-out forwards 2.5s;
    text-align: center;
    width: 100%
}
.login-form input{
    display: block;
    width: 200px;
    margin: 30px auto;
    background: none;
    border: 1px solid #ecf0f1;
    padding: 8px 6px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    outline: none;
    transition: 0.25s;
}
input::placeholder{
    color: #680000;
}
.login-form input:focus{
    width: 270px;

}
svg{
    position: absolute;
    left:0px;
    top:-30px;
    animation: filling 1.5s ease-out forwards 2.5s;
}
.path1{
    stroke-dasharray: 650px;
    stroke-dashoffset: 600px;
    stroke-width: 0.5px;
    stroke-linecap: round;
    animation: line-anim 3s ease-out forwards ;
}


@keyframes line-anim{
    to{
        stroke-dashoffset:0;
    stroke-dasharray: 800px;
    /* stroke-dasharray: 0px; */
    }
}

@keyframes filling{
    from{
        fill:transparent;
    }
    to{
        fill: #ecf0f1;
    }
}

@keyframes fadein{
    from{
        /* background:transparent; */
    height: 300px;

    }
    to{
        /* background: #c0392b; */
    height: 700px;

    }
}