<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/assets/style.css ">

</head>
<body>
<% include  partials/nav %>
    <h1>welcome to my website <%=person%></h1>
    <p>jiaxiaole built this with nodejs</p>
    <p><strong>Age: </strong><%=data.age%></p>
    <p><strong>Job: </strong><%=data.job%></p>
    <h2>Hobbies</h2>
    <ul>
    <% data.hobbies.forEach(function(item){%>
    <li><%=item%></li>
    <% });%>
    </ul>
</body>
</html>
